NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=dictionary
DB_SYNCHRONIZE=true

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d

WORDS_URL=https://raw.githubusercontent.com/dwyl/english-words/master/words_alpha.txt

DICTIONARY_API_URL=https://api.dictionaryapi.dev/api/v2/entries
DICTIONARY_API_LANG=en
HTTP_TIMEOUT=8000
